%bszbb
	@include box-sizing(border-box)

%center
	padding: 0 $page_side-space
	max-width: $page_w_max
	margin: auto

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */

%center
	max-width: $page_w
	margin: auto


/* page
/* --------------------------------------------- */

.page
	position: relative
	background: $color_bg
	padding-bottom: 20px

	img
		max-width: 100%
		height: auto

	&__header
		
	&__body
		@extend %center
		
/* page
/* ---------------------------------------END--- */


/* cools
/* --------------------------------------------- */

.cools
	display: flex
	+max-screen($mq_menu)
		display: block

	&__i
		width: 50%
		+max-screen($mq_menu)
			width: auto

		&_main
			width: 65%
			padding-right: ($section_space/2)
			+max-screen($mq_menu)
				width: auto
				padding-right: 0

		&_sidebar
			width: 35%
			padding-left: ($section_space/2)
			+max-screen($mq_menu)
				width: auto
				padding-left: 0

	&__photo
		margin-left: - $section_space
		margin-right: - $section_space
		margin-top: - $section_space
		+max-screen($mq_menu)
			margin: 0

/* cools
/* ---------------------------------------END--- */


/* section
/* --------------------------------------------- */

.section
	background: #fff
	padding: $section_space
	border-radius: 10px
	margin-bottom: $section_space
	box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2)

/* section
/* ---------------------------------------END--- */


/* header
/* --------------------------------------------- */

.header
	background: #fff
	border-bottom: 1px solid $color_main
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4)
	margin-bottom: 20px
	position: relative
	+max-screen($mq_menu)
		padding-bottom: 20px

	&__body
		@extend %center
		display: flex
		align-items: center
		+max-screen($mq_menu)
			flex-wrap: wrap

	&__nav
		@extend %center
		position: relative

	&__body-i
		padding-top: 25px
		padding-bottom: 25px

		&_logo
			width: 157px
			+max-screen($mq_menu)
				padding-top: 10px
				padding-bottom: 10px

		&_org-name
			width: 320px
			padding-left: 15px
			+max-screen($mq_menu)
				width: 100%
				padding-left: 0
				padding-top: 0
				padding-bottom: 10px


		&_info
			margin-left: auto
			display: flex
			+max-screen($mq_menu)
				margin-left: 0
				padding-top: 0
				padding-bottom: 10px
			+max-screen($mq_info)
				display: block


	&__social
		display: flex
		align-items: center
		padding-right: 20px
		+max-screen($mq_info)
			margin-bottom: 10px

	&__acts
		width: 285px
		display: flex
		flex-wrap: wrap
		align-content: center
		+max-screen($mq_info_sm)
			display: block

/* header
/* ---------------------------------------END--- */

/* org-name
/* --------------------------------------------- */

.org-name
	padding-top: 10px
	+max-screen($mq_menu)
		padding-top: 0

/* org-name
/* ---------------------------------------END--- */


/* social
/* --------------------------------------------- */

.social
	margin: 0
	padding: 0
	list-style-type: none
	display: block
	display: flex

	&__i
		margin: 0 0 0 9px
		padding: 0
		

	&__a
		display: block
		border-bottom: none

		img
			display: block
		

/* social
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	border-bottom: none

	&__img
		width: 157px
		display: block

/* logo
/* ---------------------------------------END--- */


/* footer
/* --------------------------------------------- */

.footer
	background: #fff
	border-top: 4px solid $color_main
	overflow: hidden
	position: relative
	padding-top: 26px
	padding-bottom: 26px

	&__body
		@extend %center
		display: flex

	&__i
		&_copyrigth
			width: 40%

		&_counters
			width: 100px
			padding-top: 5px

		&_made-by
			margin-left: auto
			text-align: right



/* footer
/* ---------------------------------------END--- */


/* nav-ctrl
/* --------------------------------------------- */

.nav-ctrl
	display: none
	width: $nav_ctrl_dim
	height: $nav_ctrl_dim
	//background: red
	vertical-align: middle
	cursor: pointer
	position: fixed
	z-index: 101
	top: 0
	right: 10px

	+max-screen($mq_menu)
		display: inline-block

	&__body
		position: absolute
		width: 40px
		height: 28px
		top: 50%
		margin-top: -14px
		left: 50%
		margin-left: -20px
		//background: red
	
	&__i
		width: 40px
		height: 4px
		background: $color_main
		position: absolute
		left: 0
		+transition-duration(.5s)
		+transform-origin(left, center)


		&_tp_top
			top: 0
			.is-open &
				top: -2px
				left: 6px
				+rotate(45deg)

		&_tp_middle
			top: 12px
			.is-open &
				left: -15px
				+opacity(0)

		&_tp_bottom
			bottom: 0
			.is-open &
				bottom: -2px
				left: 6px
				+rotate(-45deg)

/* nav-ctrl
/* ---------------------------------------END--- */


/* main-nav
/* --------------------------------------------- */

.main-nav
	position: relative
	z-index: 2

	+max-screen($mq_menu)
		position: fixed
		top: 0
		left: 0
		background: #fff
		z-index: 100
		width: 100%
		display: none
		border-bottom: 2px solid $color_main
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.6)
		padding-top: $nav_ctrl_dim

	&.is-open
		display: block !important
	
	&__lst
		margin: 0 -15px
		padding: 0
		list-style-type: none
		display: table
		width: 100%

		+max-screen($mq_menu)
			display: block
			margin: 0
		
	&__i
		margin: 0
		padding: 0
		display: table-cell
		vertical-align: middle
		position: relative

		+max-screen($mq_menu)
			display: block

	& &__a
		display: block
		height: $nav_h
		line-height: $nav_h
		text-align: center
		padding: 0 15px
		white-space: nowrap
		outline: none
		+link-color ($color: $color_text, $color_hover: #fff, $color_visited: none)
		+transition-property(background)
		text-transform: uppercase
		+rem(font-size, 14px)
		@extend %font-sb
		border: none

		+max-screen($mq_menu)
			height: 55px
			line-height: 55px
			text-align: center

	&__i:hover &__a,
	&__i_open &__a
		background: $color_main
		+transition-duration(.1s)

	&__i_extra &__a
		color: $color_main
		+link-color ($color: $color_main, $color_hover: #fff, $color_visited: none)
		+max-screen($mq_menu)
			+link-color ($color: $color_main, $color_hover: #fff, $color_visited: none)

	&__i_active &__a
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 6px
			background: $color_main

			+max-screen($mq_menu)
				display: none

		+max-screen($mq_menu)
			

	&__i_active &__txt
		display: inline-block
		line-height: 3
		position: relative
		&:before
			content: ''
			display: none
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 6px
			background: $color_main
			+max-screen($mq_menu)
				display: block


/* main-nav
/* ---------------------------------------END--- */


/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: -100


/* svg-icons
/* ---------------------------------------END--- */


/* counters
/* --------------------------------------------- */

.counters
	&__i
		margin-bottom: 10px

	a
		display: block
		border-bottom: none

/* counters
/* ---------------------------------------END--- */


/* teasers
/* --------------------------------------------- */

.teasers
	margin: 0
	padding: 0
	list-style-type: none

	&__i
		margin: 0
		padding: 9px 0
		list-style-type: none
		display: flex
		border-top: 1px solid $color_border
		&:first-child
			padding-top: 0
			border-top: none
		&:last-child
			padding-bottom: 0

		+max-screen($mq_teasers)
			display: block

	&__photo
		+max-screen($mq_teasers)
			margin-bottom: 10px

	&__img
		display: block
		min-width: 200px

	&__body
		width: 100%
		padding-left: 20px
		position: relative
		+max-screen($mq_teasers)
			padding-left: 0

	&__i_more-link &__body
		padding-bottom: 20px
		

	&__h
		border-bottom: none
		display: inline-block
		margin-bottom: 5px
		@extend %font-sb

		&_size_big
			+rem(font-size, 16px)
		
	&__date
		margin-bottom: 5px
		color: $color_text_light

	&__i_more-link &__more
		position: absolute
		text-align: right
		right: 0
		bottom: 0
		padding-top: 0

	&__more
		padding-top: 10px

	&__more-a
		+link-color ($color: $color_text, $color_visited: none)

	&__props
		
	&__props-i
		margin-bottom: 5px

	&__prop-label
		color: $color_text_light
		display: inline-block

	&__prop-value
		display: inline-block
		a
			+link-color ($color: $color_text, $color_visited: none)

/* teasers
/* ---------------------------------------END--- */


/* more
/* --------------------------------------------- */

.more
	text-align: right
	&__a
		+link-color ($color: $color_text, $color_visited: none)

/* more
/* ---------------------------------------END--- */


/* photo
/* --------------------------------------------- */

.photo
	margin-bottom: $section_space

	&__img
		display: block

/* photo
/* ---------------------------------------END--- */


/* date-teasers
/* --------------------------------------------- */

.date-teasers
	margin: 0
	padding: 0
	list-style-type: none

	&__i
		margin: 0 0 10px 0
		padding: 0
		&:last-child
			margin-bottom: 0

	&__body
		display: flex
		border-bottom: none

	&__body:hover &__date,
	&__date:hover
		color: $link_color_hover
		+transition-duration($animation-time_fast)

	&__date
		color: $color_text_light
		padding-right: 15px
		+transition-property(color)
		+transition-duration($animation-time)

/* date-teasers
/* ---------------------------------------END--- */


/* photo-teasers
/* --------------------------------------------- */

.photo-teasers
	margin: 0
	padding: 0
	list-style-type: none

	&__i
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	
	&__body
		display: block
		border-bottom: none

	&__photo
		margin-bottom: 5px

	&__img
		display: block
		
	&__legend
		@extend %font-sb
		

/* photo-teasers
/* ---------------------------------------END--- */


/* link-header
/* --------------------------------------------- */

.link-header
	display: flex
	&__h
		
	&__link
		margin-left: auto

	&__a		
		+link-color ($color: $color_text, $color_visited: none)

/* link-header
/* ---------------------------------------END--- */


/* info
/* --------------------------------------------- */

.info
	padding-top: 4px
	&__phone
		display: inline-block
		margin-right: 20px
		+max-screen($mq_info_sm)
			display: block
		
	&__phone-icon
		width: 18px
		height: 18px
		position: relative
		top: 4px
		color: $color_main
		margin-right: 4px
		
	&__address
		display: inline-block
		+max-screen($mq_info_sm)
			display: block
			padding-top: 4px

	&__address-icon
		width: 13px
		height: 18px
		position: relative
		top: 4px
		color: $color_main

	a
		+link-color ($color: $color_text, $color_visited: none)
		

/* info
/* ---------------------------------------END--- */


/* eye
/* --------------------------------------------- */

.eye
	position: relative
	display: inline-block

	&__icon
		position: relative
		width: 22px
		height: 17px
		top: 4px
		margin-right: 4px
		color: $color_main

	a
		display: inline-block
		+link-color ($color: $color_text, $color_visited: none)

/* eye
/* ---------------------------------------END--- */


/* select
/* --------------------------------------------- */

.lang-switcher
	margin-right: 28px

	

.select
	border: none
	cursor: pointer
	display: inline-block
	vertical-align: middle
	position: relative
	display: inline-block
	width: 350px
	@extend %bszbb
	background: #fff
	text-align: left

	&.lang-switcher
		width: 40px
		+max-screen($mq_info_sm)
			display: block
		

	&_w_fluid
		width: 100% !important

	&__select
		cursor: pointer
		position: relative
		z-index: 10
		height: 30px
		border: 0
		+opacity(0)
		width: 100% !important
		.lang-switcher &
			line-height: 24px
			height: 24px

	&__item
		position: absolute
		top: 0
		left: 0
		display: inline-block
		+rem(font-size, 14px)
		width: 100%
		span span
			display: block
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			.lang-switcher &
				overflow: visible

	&__bg
		display: block
		padding: 0 25px 0 14px
		line-height: 30px
		height: 30px
		@extend %bszbb

		.lang-switcher &
			color: $color_main
			font-weight: bold
			padding: 0 14px 0 5px
			line-height: 24px
			height: 24px

	&__arrow
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: 10px
		.lang-switcher &
			width: 8px
			&:before
				content: ''
				display: block
				position: absolute
				top: 10px
				left: 0
				width: 0
				height: 0
				border-style: solid
				border-width: 4px 4px 0 4px
				border-color: #007bff transparent transparent transparent

		
	&__icon
		width: 11px
		height: 7px
		position: absolute
		top: 50%
		margin-top: -3px
		left: 50%
		margin-left: -5px
		color: red



/* select
/* ---------------------------------------END--- */


/* breadcrumbs
/* --------------------------------------------- */

.breadcrumbs

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0 0 18px 0
		padding: 0
		display: inline-block

	&__a
		display: inline-block
		+link-color ($color: $color_text, $color_visited: none)

	&__icon
		display: inline-block
		width: 10px
		height: 10px
		color: #9d9d9d
		margin: 0 17px 0 20px


/* breadcrumbs
/* ---------------------------------------END--- */


/* page-nav
/* --------------------------------------------- */

.page-nav
	text-align: center
	padding: 24px 0

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		display: inline-block


		
		
	&__a
		display: block
		padding: 3px 10px
		border: 1px solid transparent
		+link-color ($color_visited: none)

		.is-active > &
			border-color: $color_main
	
	&__i_prev &__icon
		+rotate(180deg)

	&__icon
		display: inline-block
		width: 12px
		height: 12px

/* page-nav
/* ---------------------------------------END--- */


/* detail
/* --------------------------------------------- */

.detail
	display: flex
	margin-bottom: 20px
	+max-screen($mq_detail)
		display: block

	&__photos
		width: 52%
		+max-screen($mq_detail)
			width: auto
			margin-bottom: 20px
		
	&__legend
		width: 48%
		padding-left: 20px
		+max-screen($mq_detail)
			width: auto
			padding-left: 0
			

/* detail
/* ---------------------------------------END--- */


/* gallery
/* --------------------------------------------- */

$gallery_arrows_dim: 40px
.gallery

body
	.fotorama__arr
		width: 15%
		height: 100%
		top: 16px
		//margin-top: -50px
		background: none
		//+opacity(.5)

		&:before
			content: ''
			display: block
			position: absolute
			top: 50%
			margin-top: - $gallery_arrows_dim / 2
			width: $gallery_arrows_dim
			height: $gallery_arrows_dim
			
			//background: red
	
	.fotorama__arr--prev
		left: 0
		&:before
			left: 10px
			//margin-left: - $gallery_arrows_dim / 2
			background: url("../img/previous-big.svg") 0 0 no-repeat
			background-size: cover


	.fotorama__arr--next
		right: 0
		&:before
			right: 10px
			//margin-right: - $gallery_arrows_dim / 2
			background: url("../img/next-big.svg") 0 0 no-repeat
			background-size: cover



/* gallery
/* ---------------------------------------END--- */


/* persons
/* --------------------------------------------- */

.persons
	&__lst
		margin: 0 -10px
		padding: 0
		list-style-type: none
		display: flex
		flex-wrap: wrap
		
	&__i
		margin: 0 0 24px 0
		padding: 0 10px
		width: (100%/4)
		box-sizing: border-box
		+max-screen($mq_persons)
			width: (100%/3)
		+max-screen($mq_persons_m)
			width: (100%/2)
		+max-screen($mq_persons_sm)
			width: (100%/1)
		
	&__img
		display: block
		margin-bottom: 10px

	&__name
		+rem(font-size, 18px)
		line-height: 1.2
		margin-bottom: 5px
		
	&__post
		color: $color_text_light

/* persons
/* ---------------------------------------END--- */


/* contacts
/* --------------------------------------------- */

.contacts
	display: flex
	margin-bottom: 30px
	+max-screen($mq_contacts)
		display: block

	&__col
		box-sizing: border-box
		&_one
			width: 24%
			+max-screen($mq_contacts)
				width: auto
			
		&_two
			width: 36%
			+max-screen($mq_contacts)
				width: auto
			
		&_three
			width: 40%
			padding-left: 70px
			+max-screen($mq_contacts)
				width: auto
				padding-left: 0
		

	&__i
		display: flex
		+max-screen($mq_contacts)
			margin-bottom: 10px

	&__label
		font-weight: bold
		display: inline-block
		padding-right: 7px
		box-sizing: border-box
		width: 35%
		text-align: right
		white-space: nowrap
		+max-screen($mq_contacts)
			width: auto

		&_more
			width: 40%
			+max-screen($mq_contacts)
				width: auto

	&__value
		width: 65%
		+max-screen($mq_contacts)

/* contacts
/* ---------------------------------------END--- */


/* file
/* --------------------------------------------- */

.file
	+link-color ($color: $color_text, $color_visited: none)
	display: inline-block
	border-bottom: none
	position: relative
	padding: 6px 0
	padding-left: (24px + 10px)
	padding-right: 20px

	&__icon-wrap
		display: block
		width: 24px
		height: 30px
		position: absolute
		top: 0
		left: 0

	&_doc &__icon
		color: $color_main

	&_pdf &__icon
		color: #e53935

	&_xls &__icon
		color: #388e3c

	&_xls &__icon
		color: #ef6c00

		
	&__icon
		width: 24px
		height: 30px

	&__type
		display: block
		position: absolute
		bottom: 6px
		right: 0
		left: 0
		+rem(font-size, 9px)
		color: #fff
		text-align: center
		
	&__h
		@extend %font-sb
		

/* file
/* ---------------------------------------END--- */

/* map
/* --------------------------------------------- */

.map
	margin-top: $section_space + 10
	margin-left: -$section_space
	margin-right: -$section_space
	margin-bottom: -$section_space

	&__body
	

/* map
/* ---------------------------------------END--- */


/* input
/* --------------------------------------------- */

textarea.input
	height: 80px
	padding: 10px

.input
	width: 400px
	height: 40px
	background: #fff
	color: $color_text
	padding: 0 10px
	+rem(font-size, 16px)
	@extend %bszbb
	+transition-property(box-shadow, border-color)
	border: 1px solid $color_border_2
	+transition-duration($animation-time)
	+max-screen($mq_input)
		width: 100%
	

	&_w_fluid
		width: 100%

	&_error
		border-color: $color_imp

	&:focus
		outline: 0 !important
		border-color: $color_main


/* input
/* ---------------------------------------END--- */


/* required
/* --------------------------------------------- */

.required
	color: $color_imp

/* required
/* ---------------------------------------END--- */


/* form-line
/* --------------------------------------------- */

.form-line
	margin-bottom: 20px

	&__label
		display: block
		margin-bottom: 5px
		font-style: italic


/* form-line
/* ---------------------------------------END--- */


/* button
/* --------------------------------------------- */

.button
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

	position: relative
	display: inline-block
	overflow: visible
	border: none
	color: #fff !important
	text-align: center
	text-decoration: none
	cursor: pointer
	vertical-align: middle
	letter-spacing: 1px
	outline: none
	+rem(font-size, 14px)
	text-transform: uppercase
	padding: 0 50px
	height: 40px
	line-height: 40px
	white-space: nowrap
	background-color: $color_main
	border: none
	font-weight: bold
	@extend %bszbb
	border-radius: 2px
	+transition-property(border-color, color)
	+transition-duration($animation-time)
	+transition-timing-function(ease-out)

	&:hover
		

	&:active
		+box-shadow(inset 0px 3px 7px rgba(#000, .2))
		line-height: 42px
	

/* button
/* ---------------------------------------END--- */


/* txt-to-center
/* --------------------------------------------- */

.txt-to-center
	text-align: center

/* txt-to-center
/* ---------------------------------------END--- */


/* reviews
/* --------------------------------------------- */

.reviews
	display: flex
	flex-wrap: wrap
	margin: 0 -10px
	+max-screen($mq_reviews)
		display: block

	&__i
		padding: 0 10px
		box-sizing: border-box

		&_input
			width: 50%
			+max-screen($mq_reviews)
				width: auto
			
		&_message
			width: 100%
			+max-screen($mq_reviews)
				width: auto

/* reviews
/* ---------------------------------------END--- */


/* separator
/* --------------------------------------------- */

.separator
	height: 1px
	background: $color_border_2
	margin-top: $section_space + 10
	margin-bottom: $section_space + 10
	margin-left: -$section_space
	margin-right: -$section_space

/* separator
/* ---------------------------------------END--- */


/* comments
/* --------------------------------------------- */

.comments
	margin-bottom: 20px

	&__legend
		text-align: right
		font-style: italic
		margin-bottom: 25px

	&__i
		margin-bottom: 20px

	&__header
		font-style: italic
		color: $color_text_light

	&__more
		text-align: center
		a
			+link-color ($color: $color_text, $color_visited: none)

/* comments
/* ---------------------------------------END--- */



/* table
/* --------------------------------------------- */

.table 
	width: 100%
	margin-bottom: $content_bot_space

	&.small-only
		display: none
		+max-screen($mq_table)
			display: table

	&.large-only
		+max-screen($mq_table)
			display: none

	&.small-only
		border: 1px solid #dfdfdf
		margin-bottom: 20px
		&:first-child
			display: none
		&:last-child
			margin-bottom: 30px

	&__h td,
	th,
	thead th
		text-transform: uppercase
		text-align: center
		font-weight: normal

	& th,
	& td
		vertical-align: middle
		padding: 10px
		border: 1px solid #dfdfdf

	&.small-only th,
	&.small-only td
		padding-left: 10px
		padding-right: 10px
		text-align: left
	

	.st-key
		width: 40%

	.st-val
		width: 60%

	&.small-only
		tr
			&:first-child
				td
					font-weight: bold
	


/* table
/* ---------------------------------------END--- */